* {
  color: #555555;
}

.header {
  position: fixed;
  height: 60px;
  border-bottom: 4px solid lightseagreen;
  left: 0px;
  right: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  background-color: white;
  z-index: 5;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.header #title {
  font-size: 20px;
  line-height: 20px;
  color: lightseagreen;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

.header-buttons {
  display: flex;
}


.button {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button h3 {
  color: lightseagreen;
  line-height: 16px;
  font-size: 16px;
  font-weight: 800;
  margin: 0;
}

.button:hover {
  border: 3px solid lightseagreen;
}

.button:hover h3 {
  color: salmon;
}

.header-searchbox {
  display: flex;
  align-items: center;
}


.searchbox {
  height: 40px;
  margin-left: 30px;
  width: 350px;
}

.searchbox input {
  border: 1px solid lightseagreen;
  outline: none;
  height: inherit;
  width: inherit;
  padding-left: 25px;
  padding-right: 25px;
}

.searchbox input:focus {
  color: salmon;
  border-color: salmon;
  box-shadow: 0 0 10px salmon;
}
